/JDBCTest/nbproject/private/
/ThriftTest/nbproject/private/
/ThriftTest/build/
/ThriftClient/nbproject/private/
/ThriftServer/nbproject/private/
/MultiplicationServer/nbproject/private/
/MultiplicationServer/build/
/ThriftTest_1/nbproject/private/
/ThriftTest_1/build/
/TestDatabaseThrift/nbproject/private/
/TestDatabaseThrift/build/
/TestDatabaseThrift/dist/